{% load i18n %}
{% load static %}
<!doctype html>
<html lang="ru-ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/all.min.css">
	<link rel="stylesheet" href="css/style_auth.css">
	<script src="js/all.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<title>Hello, world!</title>
    
</head>
<body>

	<div class="container-fluid my-carousel">
		<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/1.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="img/2.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="img/5.jpg" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Следующая</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Предыдущая</span>
			</button>
		</div>
	</div>

	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container">
			<a class="navbar-brand" href="#">Rizefir. Кондитерские изделия</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse grow-05 navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="far fa-home"></i>  Главная</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Каталог</i></a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Тип 1</a></li>
							<li><a class="dropdown-item" href="#">Тип 2</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">О нас</a>
					</li>
				</ul>

				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">
					<li class="nav-item">
						<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-auth">
							<i class="fas fa-user"></i> Авторизация
						</a>
						<div class="modal fade" id="modal-auth" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
								  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
								</div>
								<div class="modal-body">
								  <form>
									<div class="mb-3">
									  <label for="recipient-name" class="col-form-label">Получатель:</label>
									  <input type="text" class="form-control" id="recipient-name">
									</div>
									<div class="mb-3">
									  <label for="message-text" class="col-form-label">Сообщение:</label>
									  <textarea class="form-control" id="message-text"></textarea>
									</div>
								  </form>
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
								  <button type="button" class="btn btn-primary">Отправить сообщение</button>
								</div>
							  </div>
							</div>
						  </div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="far fa-book-user"></i>   Регистрация</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-cart">
							<i class="fas fa-shopping-cart"></i>   Корзина
						</a>
						<div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-xl">
								<div class="modal-content">
									<div class="modal-header bg-secondary text-white">
										<h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<table class="table">
											<tbody>
												<tr>
													<td><img src="img/products/apple_cinema_30.jpg" alt=""></td>
													<td><a href="#">Apple Cinema 30"</a></td>
													<td>$230.99</td>
													<td>1</td>
												</tr>
												<tr>
													<td><img src="img/products/canon_eos_5d_1.jpg" alt=""></td>
													<td><a href="#">Canon EOS 5D</a></td>
													<td>$230.99</td>
													<td>1</td>
												</tr>
												<tr>
													<td><img src="img/products/hp_1.jpg" alt=""></td>
													<td><a href="#">HP</a></td>
													<td>$230.99</td>
													<td>1</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
										<button type="button" class="btn btn-primary">Оформить покупку</button>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fas fa-search"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>



	<section class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/5.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">Пряники</a></h4>
							<p>Пряничные человечки</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/apple_cinema_30.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">Apple Cinema 30"</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									$99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/canon_eos_5d_1.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">Canon EOS 5D</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/hp_1.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">HP</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/imac_1.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">iMac</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/iphone_1.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">iPhone</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<section class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-6">
						<h4>Информация</h4>
						<ul class="list-unstyled">
							<li><a href="#">Главная</a></li>
							<li><a href="#">О магазине</a></li>
							<li><a href="#">Оплата и доставка</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>

					<div class="col-md-3 col-6">
						<h4>Время работы</h4>
						<ul class="list-unstyled">
							<li>г. Киев, ул. Пушкина, 1</li>
							<li>пн-вс: 9:00 - 18:00</li>
							<li>без перерыва</li>
						</ul>
					</div>

					<div class="col-md-3 col-6">
						<h4>Контакты</h4>
						<ul class="list-unstyled">
							<li><a href="tel:5551234567">555 123-45-67</a></li>
							<li><a href="tel:5551234568">555 123-45-68</a></li>
							<li><a href="tel:5551234569">555 123-45-69</a></li>
						</ul>
					</div>

					<div class="col-md-3 col-6">
						<h4>Мы в сети</h4>
						<div class="footer-icons">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</footer>

</body>
</html>


{% include 'rizefir/bar.html' %}
{% block content %}
{% endblock %}

{% include "rizefir/footer.html" %}
  
</div>
</body>
</html>