{% extends "rizefir/base_layer.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="section"> <!-- Основная секция -->
  <div class="container_grid"> <!-- Основной контейнер -->
    <div class="catalog"> <!-- Блок каталога -->
      <div class="catalog__flex"> <!-- Родитеский блок сетки -->
        {% for cat in category %}
        <div class="catalog__col"> <!-- Дочерний блок сетки -->
          <div class="catalog__card card"> <!-- Блок с контентом, в данном случае карточка, все стили этого блока уже не относятся к сетке -->
            <div class="card__img">{{ cat.category_name }}</div>
            <div class="card__title">{{ cat.category_name }}</div>
            <div class="card__text">{{ cat.description }}</div>
            <div class="card__button"><a href="">Смотреть</a></div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}