{% extends "rizefir/base_layer.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<section class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/iphone_1.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">iPhone</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/apple_cinema_30.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">Apple Cinema 30"</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									$99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/canon_eos_5d_1.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">Canon EOS 5D</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/hp_1.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">HP</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/imac_1.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">iMac</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="img/products/iphone_1.jpg" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">iPhone</a></h4>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, repudiandae?</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}